<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="jumbotron" style="background:#b3ffd9; font-family:\" Times New Roman\ ", Times, serif; orientation:center">
        <h1> Are you sure you want to delete {{genre.name}}? </h1>
        <form action="#" method='post'>
            <input type='submit' , value='Delete'>
        </form>
        <button type="button" onclick="goBack()">Cancel</button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
</body>

</html>